RewriteEngine On
RewriteBase /~yux029/term-dictionary/

RewriteCond %{THE_REQUEST} source/(.+)
RewriteRule ^source/(.*)$ $1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (?!^source/)^(.*)$ source/$1 [L]